
pub/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
pub/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
pub/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
pub/obj/Debug/pub.Properties.Resources.resources
pub/obj/Debug/pub.DEV_BROADCAST_VOLUME.resources
pub/bin/Debug/pub.exe.config
.vs/pub/v15/Server/sqlite3/storage.ide-wal
.vs/pub/v15/Server/sqlite3/storage.ide-shm
.vs/pub/v15/Server/sqlite3/storage.ide
.vs/pub/v15/Server/sqlite3/db.lock
